<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorate="~{user/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/json.min.js"></script>
<style>

	.oddbg{
		background-color: yellowgreen;
	}

</style>
</head>

<body>
	<div layout:fragment="content">
		<div id="empInsertDiv"></div>
	
	
		<p th:text="${'Welcome to our <b>fantastic</b> grocery store!'}">Welcome to our grocery store!</p>
		<p th:utext="${'Welcome to our <b>fantastic</b> grocery store!'}">Welcome to our grocery store!</p>
		전체사원수 : <span th:text="${#lists.size(empList)}"></span>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>사원번호</th>
					<th>이름</th>
					<th>부서</th>
					<th>입사일</th>
					<th>급여</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${empList}" th:class="${empStat.odd}?oddbg:evenbg">
					<td th:text="${empStat.count}"></td>
					<td>
						<a th:href="|javascript:empUpdate(${emp.employeeId})|">[[${emp.employeeId}]]</a>
						<a th:href="@{empInfo/{id}(id=${emp.employeeId})}">[[${emp.employeeId}]]</a> 
					</td>
					<td th:text="${emp.firstName}+' '+${emp.lastName}" >King Smith</td>
					<td th:text="${emp.departmentId}" >개발</td>
					<td th:text="${#dates.format(emp.hireDate,'yyyy/MM')}" >2020/12/01</td>
					<td th:text="${#numbers.formatDecimal(emp.salary==null? 0:emp.salary , 3,2)}" >30000</td>
				</tr>
			</tbody>
	
		</table>
		<script>
			//$('#empInsertDiv').load('empInsert',null,function(){alert('load')})
			 /* $.ajax({
				url:'empInsert',
				success(data){
					$('#empInsertDiv').html(data);
				},
				err(err){
					console.log(err);
				}
			})  */
			/* $.ajax('empUpdate?employeeId=')
			.done(function(result){
				console.log(result)
				$('#empInsertDiv').html(JSON.stringify(result));
			}) */
			function empUpdate(empId){
				$.ajax(`empUpdate?employeeId=${empId}`,{dataType:"html"})
				.done(function(result){
					$('#empInsertDiv').html(result);
				})
				
			}
		</script>
	</div>
</body>
</html>